
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: rgb(66, 28, 28);
}
body {
    font-family: sans-serif;
    text-align: center;
    background: #e0f7fa;
  }

